.item-wrapper {
    width: 96.4%;
    display: flex;
	position: relative;
	margin: 2.39% 2.8% 0 1.73%;
	transition: box-shadow 0.3s linear, border-radius 0.3s linear;
	animation: creating 0.5s linear;
	background-color: white;
}

.item-wrapper:last-of-type {
	margin-bottom: 2.39%;
}

.item-value {
	width: 77.5%;
	height: 100%;
	display: flex;
}

.item-value input {
    font-size: 18px;
    border: none;
	outline: none;
	height: 100%;
	width: 100%;
	padding: 3.2% 3.2% 1.92% 6.39%;
	box-sizing: border-box;
	background-color: transparent;
}

.item-value input:read-only {
	cursor: default;
}

.item-edit {
    display: flex;
    height: 100%;
	align-items: center;
	justify-content: center;
	width: 22.5%;
}

.item-edit button {
	width: 39.63%;
    height: 60%;
	border: none;
	outline: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
	display: flex;
}

.item-edit button:last-of-type {
	width: 44.03%;
    height: 66.7%;
}

.item-edit button img {
	width: 100%;
	height: 100%;
}

.item-deleting {
	transition: opacity 0.2s linear, height 0.2s linear 0.2s, margin 0.2s linear 0.2s;
	margin: 0;
	opacity: 0;
	height: 0 !important;
}

@keyframes creating {
	0% {
		margin: 0 5px;
		opacity: 0;
		height: 0;
	}
	50% {
		height: 30px;
		margin: 5px 5px 0px 5px;
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.item-wrapper-dark {
	background-color: grey;
}