#budget-calculator {
  height: 80vh;
  width: 80vw;
  perspective: 1000px;
}

.container-3d {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  transform-origin: right;
  transition: transform 1s linear;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.907%;
  box-sizing: border-box;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.items-boxes {
  display: flex;
  height: 80%;
}

.budget-calculator-light {
  background-color: #dfecdc !important;
}

.budget-calculator-dark {
  background-color: #aec5a9 !important;
}

.active {
  z-index: 1;
}