.items-box {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.items {
    overflow-y: overlay;
    width: 83%;
}

p {
    font: 400 1.3em Arial;
    margin: 10px 0;
}

.items::-webkit-scrollbar {
    width: 2px;
    background-color: transparent; 
}

.items::-webkit-scrollbar-thumb {
    background: rgb(82, 153, 94);
}

.items-box:nth-of-type(odd) .item-creator-wrapper {
    border-radius: 10px 10px 0 10px;
}

.items-box:nth-of-type(even) .item-creator-wrapper {
    border-radius: 10px 10px 10px 0;
}

.items-box:nth-of-type(odd) .items .item-wrapper:nth-of-type(odd) {
	border-radius: 10px 0;
}

.items-box:nth-of-type(odd) .items .item-wrapper:nth-of-type(even) {
	border-radius: 0 10px;
}

.items-box:nth-of-type(even) .items .item-wrapper:nth-of-type(odd) {
	border-radius: 0 10px;
}

.items-box:nth-of-type(even) .items .item-wrapper:nth-of-type(even) {
	border-radius: 10px 0;
}