.settings-button {
    background-color: transparent;
    width: 6%;
    height: 6%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    position: absolute;
    bottom: 2%;
    right: 2%;
}

.settings-button img {
    width: 100%;
    height: 100%;
}

.settings-button-active {
    animation: rotate 1s linear;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}